*{
	margin: 0;
	padding: 0;
}



.box {
	width: 300px;
	height: 200px;
	margin: 0 auto;
	background: gray;
	display: block;
	/*
	overflow-x: hidden;
	*/

}

.box p{ 
	width: 100%;
 }

